// Color Palette
// Colors for stats

$warning : #FB4D3D;
$danger : #EAC435;
$notBad : #03CEA4;

//Colors for pages

$background : #AAAAAA;
$text : #071013;
$tus : #B7999C;
$red : #EB5160;


@import './reset';
@import './home';
